{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="chat-box" id="chat-box"
                     hx-ext="ws"
                     ws-connect="/ws/room/{{ chatroom_name }}">
                    <div class="chat-header bg-dark text-white p-2">
                        {#on private chat#}
                        {% if other_user %}
                            <p class="text-secondary"> @{{ other_user.username }}</p>
                            <a href="{% url 'profile' other_user.username %}" class="text-decoration-none">
                                <div class="d-flex align-items-center gap-2 p-4 sticky-top bg-dark text-white z-10">
                                    <img class="rounded-circle" src="{{ other_user.profile.avatar }}"
                                         alt="{{ other_user.profile.name }}'s avatar"
                                         style="width: 25px; height: 25px; object-fit: cover;"/>
                                </div>
                            </a>
                            <div id="online-icon" class="text-secondary"></div>

                        {% else %}
                            {#on public chat#}
                            <h5 class="mb-0"><span id="online-users-count"></span> online</h5>
                        {% endif %}
                    </div>
                    <ul id="chat-messages" class="chat-body p-3"
                        style="height: 70vh; overflow-y: auto; background-color: #f7f7f7;"
                        ws-receive>
                        {% for message in chat_messages reversed %}
                            {% include 'chat/partial/chat_msgs.html' with message=message %}
                        {% endfor %}
                    </ul>
                    <div class="chat-footer p-3">
                        <form id="chat-form"
                              ws-send
                              _="on htmx:wsAfterSend reset() me">
                            <div class="input-group">
                                {% csrf_token %}
                                {{ form }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function scrollToBottom(time = 0) {
            setTimeout(function () {
                const container = document.getElementById('chat-messages');
                container.scrollTop = container.scrollHeight;
            }, time);
        }

        scrollToBottom();
    </script>
{% endblock %}
