{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="chat-box" id="chat-box">
                    <div class="chat-header bg-dark text-white p-2">
                        <h5 class="mb-0">3 online</h5>
                    </div>
                    <ul class="chat-body p-3"
                        style="height: 70vh; overflow-y: auto; background-color: #f7f7f7;">
                        {% for message in chat_messages reversed %}

                            {% include 'chat/partial/msg_p.html' with message=message %}

                        {% endfor %}
                    </ul>


                    <div class="chat-footer p-3">
                        <form id="chat-form"
                              hx-ext="ws"
                              ws-connect="/ws/room/public"
                              hx-target="#chat-body"
                              ws-send
                              _="on htmx:wsAfterSend reset() me">

                            <div class="input-group">
                                {% csrf_token %}
                                {{ form }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        function scrollToBottom(time = 0) {
            setTimeout(function () {
                const container = document.getElementById('chat-body');
                container.scrollTop = container.scrollHeight;
            }, time);
        }

        scrollToBottom()

    </script>
{% endblock %}