<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
             data-bs-delay="2000">
            <div class="toast-header">
                <strong class="me-auto">{{ message.tags|capfirst }}</strong>
                <small class="text-muted">{{ message.timestamp }}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toasts = document.querySelectorAll('.toast');
        toasts.forEach(function (toast) {
            new bootstrap.Toast(toast).show();
        });
    });
</script>