.custom-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* You can adjust the max width of the card */
    margin: 0 auto; /* Centers the card horizontally */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    padding: 20px;
}

p > label[for="id_email"],
p > input[type="email"] {
    display: none;
}