{% extends 'base.html' %}

{% block content %}

    <div class="container py-5">
        <div class="text-center">
            <img class="rounded-circle mb-4" style="width: 144px; height: 144px; object-fit: cover;"
                 src="{{ user.profile.avatar }}"/>
            <h1>{{ profile.name }}</h1>
            <div class="text-muted mb-2">@{{ profile.user.username }}</div>
            {% if profile.description %}
                <div class="mt-4">{{ profile.description|linebreaksbr }}</div>
            {% endif %}
            {% if profile.user != user %}
                <a class="btn btn-outline-primary" href="{% url 'chat' profile.user.username %}">Start Chat </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
