<span id="online-users-count" hx-swap="outerHTML" class="fade-in-scale">{{ online_count }}
<style>
        @keyframes fadeInScale {
            from {
                opacity: 0;
                transform: scale(4);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .fade-in-scale {
            animation: fadeInScale 0.6s ease;
        }
    </style>
</span>


{% if online_count %}
    <div class="text-success" id="online-icon">ONLINE</div>
{% else %}
    <div class="text-secondary" id="online-icon">OFFLINE</div>
{% endif %}